.Cart {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  min-height: 70vh;
}
.Total {
  display: flex;
  justify-content: center;
}
.newCart {
  height: 320px;
  width: 230px;
  border: 2px solid #73a9ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cartButton {
  font-size: larger;
  font-weight: 700;
  background: transparent;
  border: none;
  color: #73a9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
