.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.5em;
  margin-bottom: 2.4em;
  background-color: #333;
  color: #73a9ff;
}

.SuperCart {
  display: flex;
  align-items: center;
}

.Cart {
  font-size: 25px;
}
